DNA	termini		None 0.95
Simple_repeat	termini		None 0.95
non-LTR	termini		None 0.95
Unknown	termini		None 0.95
DNAt	termini		None 0.95
Low_complexity	termini		None 0.95

LTR|left termini		L_Term 0.99
LTR|right	termini		R_Term 0.99
inside termini None 0.99
