LTR|left	ltr_finder	LTR|left	0.600000
inside	ltr_finder	inside	0.600000
LTR|right	ltr_finder	LTR|right	0.600000
Outside3	ltr_finder	__NoNE__	0.600000
Outside2	ltr_finder	__NoNE__	0.600000
Outside1	ltr_finder	__NoNE__	0.600000
Outside0	ltr_finder	__NoNE__	0.600000

LTR|left	chaux	LTR	0.600000
inside	chaux	LTR	0.600000
LTR|right	chaux	LTR	0.600000
DNA	chaux	DNA	0.600000
DNAt	chaux	DNAt	0.600000
non-LTR	chaux	non-LTR	0.600000
Outside3	chaux	__NoNE__	0.600000
Outside2	chaux	Unknown	0.600000
Outside1	chaux	Low_complexity	0.600000
Outside0	chaux	Simple_repeat	0.600000

LTR|left	termini	L_Term  0.99
LTR|right  termini R_Term	 0.99
DNA	termini	__NoNE__	0.600000
DNAt	termini	__NoNE__	0.600000
non-LTR	termini	__NoNE__	0.600000
Outside3	termini	__NoNE__	0.600000
Outside2	termini	__NoNE__	0.600000
Outside1	termini	__NoNE__	0.600000
Outside0	termini	__NoNE__	0.600000
lastz|left		termini	L_Term	0.99
lastz|right		termini	R_Term	0.99
